
  <div class="topbar">
    <div class="menucontainer">
      <nav class="companynav round">
        <ul>
          <li><%= link_to "Music", music_path %></li>
          <li><%= link_to "Events", events_path %></li>
        </ul>
      </nav>
      <nav class="toolnav round">
        <ul>
          <li><%= link_to "Blog", '#' %></li>
          <li><%= link_to "Team", team_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>